/*Página Inicio*/
@import "headerNavbar/headerMain.css";
@import "headerNavbar/navbarMain.css";
@import "footer2035/footerMain.css";
@import "infoValor/infoValorMain.css";
@import "tools2035/toolsMain.css";
@import "numbers2035/numbersMain.css";
@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');


header {
    background-image:url('imagenes2035/1150124.png');
    padding: 40px 0px 40px 0px;
    background-size: cover;
    width: auto;
    height: auto;
    margin-bottom: 50px;
}
